.burger {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger::-webkit-details-marker {
  display: none;
  appearance: none;
  opacity: 0;
  z-index: -1;
}

.burger__line {
  height: 3px;
  background-color: var(--navi-bg);
  border-radius: 6px;
}
